@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TicketShopAdminApplication.Models.Order


<div class="container">
    <div class="m-3">
        <a class="btn btn-success">Order for: @Model.User.UserName</a>
    </div>

    @for (int i = 0; i < Model.Tickets.Count; i++)
    {
        var item = Model.Tickets.ElementAt(i).SelectedTicket;

        if (i % 3 == 0)
        {
            @:<div class="row">
            }


            <div class="col-md-3 m-4">
                <div class="card">
                    <img class="card-img-top" src="@item.MovieImage" alt="Image for movie!" />

                    <div class="card-body">
                        <h3 class="card-title">@item.MovieName</h3>
                        <p class="card-text">@item.MovieDescription</p>

                        <h6><i>Price:</i> <b>@item.TicketPrice $</b></h6>
                        <h5>Rating: @item.Rating</h5>
                    </div>
                </div>
            </div>



            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>

